 html, body {
    margin: 0;
    padding: 0;
}


body {
    font-family: Arial, sans-serif;
 
}

.logo-container{
    width:100%;
}
.logo-img{
    width:100%;
    height: 100vh;
    background-image: url(./Images/logo.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
} 
/* this is sectio one */
.section-1{
    background-image: url(./Images/section-1bg.jpg);
    height:130vh;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 80% 50%;
    
}
.sec1-MainHeadig{
    color: white;
    margin-left: 5%;
    padding-top: 20%;
    /* border: 2px solid red; */
   
}
.sec1-MainHeadig p{
    font-size: 1.3rem;
}
.sec1-MainHeadig  div h1{
    font-size: 3rem;
}
.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 2px solid white;
    width: 100%;
    position: fixed;
  
   
}
/* compnay name plan b */
 
.company-name
{
    color: rgb(110, 110, 110);
    border: 2px solid rgb(110, 110, 110);
    margin-left: 10px;
    padding-left: 10px;
    padding : 5px 10px;
   
}
.company-name:hover{
    cursor: pointer;
 background-color: white;
  color: black;
  font-weight: bolder;
    border: 2px solid black;
}
/* this is the center part of the navbar */

.navbar-center ul li{
 list-style: none;
 float: left;
 margin-left: 20px;
}
.navbar-center ul li a{
    color: rgb(171, 169, 169);
    text-decoration: none;
    transition: transform 1s ease;

}
.navbar-center ul li:hover{
  
    transform: scale(1.1);
}
.navbar-center ul li a:hover{
    color:  black;
  

}



  /* This is the btn of the navbar */
.navbar-btn{
    padding: 10px;
    background-color: rgba(255,255,255,0.5);
    margin-right:12px;
    transition: background-color, transform 1s ease;
}
.navbar-btn:hover{
    background-color: antiquewhite;
    transform: scale(1.1);
    cursor: pointer;
}
/* responsive image svg */
.resImg{
    width: 40px;
    height: 40px;
    display: none;
   
  
}
/* Responsive navbar */
.responsive-nav{
    width: 80%;
    height: 80vh;
   background-color:   rgb(137, 247, 251);
    position: absolute;
    top: 0;
    left: -80%;
    transition: left 0.5s ease;
    text-align: center;
   
     
}

.responsive-nav ul li{
    list-style: none;
    padding-top: 15px;
    padding-bottom: 15px;
   
    margin: 20px;
   

}

.responsive-nav ul li a{
  text-decoration: none;
   color: rgb(92, 91, 91);
   font-weight: bold;
   font-size: 20px;
    
}
.responsive-nav ul{
    margin-left: 10px;
    text-align: center;
}

.res-info p{
    font-size: 12px;
}
.cross-popup
{
    position: absolute;
    width: 40px;
    height: 40px;
   right: 10px;
   

}

  
 
  /* //second section of the website */
  
  .both-sections2{
    display: flex;
    padding-top: 6%;
    padding-bottom: 7%;
  }
.left-section2{
    width: 40%;
    background-color:antiquewhite;
    padding-left: 4%;
    padding-right: 2%;
    color: rgb(121, 120, 120);
    padding-bottom: 10%;
}
.setion2-heading{
    font-size: 1.3rem;
    line-height: 0.8;
}
.rightSec-bgImg{
    width: 60%;
   
    background-image: url('./Images/section-2bg.png');
    background-repeat: no-repeat;
    background-size: cover;
}
.leftsec-qualities{
    display: flex;
    justify-content: space-between;
}
.leftsec-btn button{
    border: 2px solid rgb(151, 149, 149);
    padding: 20px 30px;
    background-color: transparent;
    margin-top: 8%;
    color: rgb(151, 149, 149);
}
.leftsec-btn button:hover{
    background-color: green;
    color: white;
    transition: background-color 0.5s ease-in-out;
    border: 2px solid white;
}

.leftsec-para{
  padding-top: 3%;
  padding-bottom: 3%;
  font-size: 20px;
}
/* section two third part
 */
 .thirdPart-section2{
    margin-top: 0%;
    margin-bottom: 1%;
   
 }
 .tp-s2-heading{

    font-size: 2.9rem;
    border: 8px solid black;
    width: 45%;
    text-align: center;
 }
 .tp-s2-div{
    display: flex;
    flex-direction: column;
    align-items: center;
   
 }
 .tp-s2-para{
    background-color: antiquewhite;
 }
 .tp-s2-para div{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-top: 2% 0;
  
 }
 .tp-s2-para div p{
    width: 50%;
    font-size: 16px;
   
    font-size: 16px;
    text-align: justify;
 }

/* section 3 will goes here */
.section-3{
   
    width: 100%;
 
    padding-top: 6%;
    
    
}
.section-3-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: rgb(187, 255, 232);
}
.section-3-head{
    width: 100%;
    font-size: 2.5rem;
   border: 8px solid black;
}
.section3-para-div{
    width: 100%;
    /* background-color: rgb(154, 252, 219); */
    display: flex;
    align-items: center;
   
    flex-direction: column;
    margin-bottom: 5%;
   

}
.section-3para{
    
    width: 55%;
    font-size: 16px;
    font-size: 16px;
    text-align: justify;
   
    margin: 10px 0px;

}

.section3-btn{
     margin-top: 20px;
    background-color: transparent;
    padding: 12px 6px
}

/* //code for setion no 4 */
.section-4{
    /* padding-bottom: 10%; */
    margin-top: 5%;
    padding-top: 5%;
}
.section-4-div{
    display: flex;
    width: 100%;
  justify-content: space-between;
   

}
.section-4-left{
    width: 35%;
    background-color: rgb(187, 255, 232);
    padding-left: 3%;
    padding-bottom: 5%;
}
.section-4-head{
    font-size: 2.5rem;
}
.section-4-para{
    width: 80%;
   
}
.section-4-img-div{
    width: 50%;
   
   
}
.image-sec4{
    width: 100%;
    height: 100%;
    background-image: url(./Images/Section\ 4.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}





/* section 5 code */

.sec-5-div{
    width: 100%;
    display: flex;
    margin-top: 10%;
    margin-bottom: 10%;
}


.sec-5-img-div{
   width: 60%;
    
}
.sec5-right-div{
    width: 40%;
    background-color:rgb(187, 255, 232); 
    padding: 2%;
}
.sec-5-img{
    height: 100%;
    width: 100%;
    background-image: url('./Images/Section\ 5.1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
.sec-5-headings{
    font-size: 1.2rem;
   
}
.sec-5-headings h1{
   line-height: 0.4;
}
.sec-5-head3-div{
    display: flex;
    align-items: center;
   
}
.sec-5-head3-img{
    width: 60px;
    height: 60px;
}

.sec-5-paras{
    padding-top: 5%;

}
.sec-5-paras p{
    padding-top: 3%;
}

